{% extends "::layout_admin.html.twig" %}

{% block section %}
<h1>Gestion des utilisateurs </h1>
<hr>
<div class="col-md-12">
    <div class="col-md-12">
        <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
    </div>
  	
  	<hr>
	<div class="col-lg-12 alert alert-success">
        {% if utilisateurs is defined %}
	        {% if utilisateurs is not empty %}
		        <div class="col-lg-12">
		          <div class="col-md-2">Username</div>
		          <div class="col-md-2">Email</div>
		          <div class="col-md-3">Profil</div>
		          <div class="col-md-1">Modifier</div>
		          {% if is_granted('ROLE_ADMIN') %}
		          <div class="col-md-1">Supprimer</div>
		          {% endif %}
		        </div>

	        		{% for utilisateur in utilisateurs %}
	                <div class="col-md-12">
	                  <hr>
	                    <div class="col-md-2">{{ utilisateur.username }}</div>
	                    <div class="col-md-2">{{ utilisateur.email }}</div>
	                    <div class="col-md-3">{{ utilisateur.profil }} </div>
	                    <div class="col-md-1">
	                    	<a href="#" data-toggle="modal" data-target="#modifier{{ utilisateur.id }}">
	                    		<span class="glyphicon glyphicon-pencil"></span>
	                    	</a>
	                    </div>

	                    {% if is_granted('ROLE_ADMIN') %}
	                    <div class="col-md-1">
	                    	<a href="#"data-toggle="modal" data-target="#suppressionModal{{ utilisateur.id }}">
	                    		<span class="glyphicon glyphicon-remove"></span>
	                    	</a>
	                    </div>
	                    {% endif %}
	                </div>
	                
	                <!-- Modifier utilisateur modal -->
	                <div class="modal fade" id="modifier{{ utilisateur.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	                  <div class="modal-dialog">
	                    <div class="modal-content">
	                      <div class="modal-header">
	                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                        
	                      </div>
	                      <div class="modal-body">
	                      	{{ render(controller('UserBundle:Admin:modifier_utilisateur', {'idutilisateur' : utilisateur.id }))}}
	                      </div>
	                      <div class="modal-footer">
	                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	                       </div>
	                    </div>
	                  </div>
	                </div>
	                
	                <!-- Modal pour la suppression d'une utilisateur -->
	                <div class="modal fade" id="suppressionModal{{ utilisateur.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	                  <div class="modal-dialog">
	                    <div class="modal-content">
	                      <div class="modal-header">
	                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                        <h3 class="modal-title" id="myModalLabel" style="text-align:center">Suppression de l'utilisateur : {{ utilisateur.id }} </h3>
	                      </div>
	                      <div class="modal-body">
	                            <p>Voulez-vous supprimer cette utilisateur ? {{ utilisateur.username }}</p>
	                            
	                            <a href="{{path('user_supprimer_utilisateur', {'idutilisateur' : utilisateur.id })}} " style="color : white" class="btn btn-danger">OUI</a>
	                            
	                            
	                      </div>
	                      <div class="modal-footer">
	                        <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
	                       </div>
	                    </div>
	                  </div>
	                </div> 

	                {% endfor %}
	            
	        
	        {% endif %}
        {% endif %}
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h3 class="modal-title" id="myModalLabel" style="text-align:center">Ajouter un nouvel utilisateur : </h3>
	      </div>
	      <div class="modal-body">
            {{ render(controller('UserBundle:Registration:register')) }}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	       </div>
	    </div>
	  </div>
	</div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{asset('bootstrap/js/bootstrap.min.js')}} "></script>

    <script type="text/javascript">
      $(document).ready(function(){

        $('#accueil').addClass('en_cour');
        $('#paintball').removeClass('active');
        $('#espaceloisirs').removeClass('active');
        $('#paddockotels').removeClass('active');
       
      });
    </script>
{% endblock %}