<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>KF Invest Consulting</title>
	
	<!-- core CSS -->
    
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/domaine/css/business_theme/bootstrap.min.css')}} ">
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/domaine/css/business_theme/font-awesome.css')}} ">
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/domaine/css/business_theme/animate.min.css')}} ">
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/domaine/css/business_theme/prettyPhoto.css')}} ">
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/domaine/css/business_theme/main.css')}} ">
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/domaine/css/business_theme/responsive.css')}} ">

    <link rel="stylesheet" type="text/css" href="{{asset('bundles/domaine/css/business_theme/business_style.css')}} ">
  
    <!--[if lt IE 9]>
    <script src="{{asset('bundles/domaine/js/business_theme/html5shiv.js')}} "></script>
    <script src="{{asset('bundles/domaine/js/business_theme/respond.min.js')}} "></script>
    
    <![endif]-->
    <link rel="shortcut icon" href="{{asset('bundles/domaine/images/business_theme/ico/favicon_ok.ico')}} ">       
    <link rel="shortcut icon" sizes="144x144" href="{{asset('bundles/domaine/images/business_theme/ico/apple-touch-icon-144-precomposed.png')}} ">

    <link rel="shortcut icon" sizes="114x114" href="{{asset('bundles/domaine/images/business_theme/ico/apple-touch-icon-114-precomposed.png')}} ">

    <link rel="shortcut icon" sizes="72x72" href="{{asset('bundles/domaine/images/business_theme/ico/apple-touch-icon-72-precomposed.png')}} ">

    <link rel="shortcut icon" href="{{asset('bundles/domaine/images/business_theme/ico/apple-touch-icon-57-precomposed.png')}} ">
</head><!--/head-->

<body>
    <!--[if lte IE 8]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
    <div class="container" id="corps_site">
        <header id="header">
            <nav class="navbar navbar-inverse" role="banner">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="navbar-header">
                        {{ render(controller('DomaineBundle:Default:inserer_logo_site'))}}
                        <div>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    </div>
    				
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            {% block menu %}

                            {% endblock %}               
                        </ul>
                    </div>
                </div><!--/.container-->
            </nav><!--/nav-->
    		
        </header><!--/header-->

        {% block carousel %}
        
        {% endblock %}

        {% block contenu %}

        {% endblock %}
        
        {% block services %}
        
        {% endblock %}

        {% block compétences %}
        
        {% endblock %}

        {% block team %}
        
        {% endblock %}

        {% block partenaires%}
        
        {% endblock %}

        <footer id="footer">
            <hr>
            <div class="container row-fluid">
                    <div class="col-lg-5 col-sm-5 col-xs-12">
                        <ul>
                            {% if menus is defined %}
                                {% for menu in menus %}
                                    {% for page in menu.pages %}
                                    <li>
                                        <a href="{{ path('domaine_voir_page', {'nom' : page.nom, 'idpage' : page.id }) }} " >
                                            {{ page.nom|upper }} |
                                        </a>
                                    </li>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                        
                    </div>
                    <div class="col-lg-2 col-sm-2 col-xs-12">
                        <div class="row-fluid">Suivez nous</div>
                        <div class="row">
                            <ul style="padding : 0px; margin-right : 0px">
                                <li>
                                    <a href="https://www.facebook.com/pages/KFinvest-Consulting/274059272760914?fref=ts" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/KFinvest?lang=fr" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>   
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-12">
                        &copy; 2015<a target="_blank" href="http://www.kfinvestconsulting.com/" title="Free Twitter Bootstrap WordPress Themes and HTML templates"> KF Invest Consulting</a>. All Rights Reserved.
                        <br>
                        {% if mentions_legales is defined %}
                            {% if mentions_legales is not empty %}
                              <a href="{{path('domaine_voir_page', {'nom' : mentions_legales.nom, 'idpage' : mentions_legales.id })}} ">Mentions Légales</a> &middot;
                            {% endif %}
                        {% endif %}
                    </div>
                    
            </div>
        </footer><!--/#footer-->
    </div>
    <script src="{{ asset('bundles/domaine/js/business_theme/jquery.js')}} "></script>
    <script src="{{ asset('bundles/domaine/js/business_theme/bootstrap.min.js')}} "></script>
    <script src="{{ asset('bundles/domaine/js/business_theme/jquery.prettyPhoto.js')}} "></script>
    <script src="{{ asset('bundles/domaine/js/business_theme/jquery.isotope.min.js')}} "></script>
    <script src="{{ asset('bundles/domaine/js/business_theme/main.js')}} "></script>
    <script src="{{ asset('bundles/domaine/js/business_theme/wow.min.js')}} "></script>
    
    {% block script %}

    {% endblock %}
</body>
</html>