
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Administration B-S Cms </title>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">

    <!-- Bootstrap core CSS -->
    <link href="{{asset('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{asset('bundles/domaine/js/emulated.js')}}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->

    
    <link href="{{asset('bundles/domaine/css/carousel.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('bundles/domaine/css/domaine_admin.css')}}" rel="stylesheet" type="text/css">

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="row-fluid">
      <div class="container">
        <div class="row-fluid" id="titre">
          <h1>ADMINISTRATION BANGS-SERVICES CMS</h1>
        </div>
      </div>
    </div>


    <!-- ================================================== -->
    <hr>

    <div>
      <div class="col-md-3" id="gestion_activites">
        <h2> <a href="{{path('domaine_admin_homepage')}} ">Gestions</a> </h2>
        {% block menu_gestion %}
          <div>
            <p>
              <a href="{{path('Page_admin_homepage')}} ">
                <strong>Pages</strong>
              </a>
            </p>
          </div>

          <div>
            <p>
              <a href="{{path('article_admin_homepage')}} ">
                <strong>Article</strong>
              </a>
            </p>
          </div>

          <div>
            <p>
              <a href="{{path('evenement_admin_homepage')}} ">
                <strong>Evénement</strong>
              </a>
            </p>
          </div>
        <!--
          <div>
            <p>
              <a href="{{path('article_admin_homepage')}} ">
                <strong>Autre contenu</strong>
              </a>
            </p>
          </div>
        -->
          {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTIONNAIRE') %}
          <div>
            <p>
              <a href="{{path('article_admin_page_categorie')}} ">
                <strong>Categories</strong>
              </a>
            </p>
          </div>
          {% endif %}
          <hr>
          <div>
            <p>
              <a href="{{path('domaine_admin_menu_homepage')}} ">
                <strong>Menus</strong>
              </a>
            </p>
          </div>
          <hr>

          <div>
            <p>
              <a href="{{path('domaine_admin_parametre_homepage')}} ">
                <strong>Paramètres</strong>
              </a>
            </p>
          </div>

          <hr>

          {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTIONNAIRE') %}
          <div>
            <p>
              <a href="{{path('user_homepage')}} " >
                <strong>Utilisateurs</strong>
              </a>
            </p>
          </div>
          {% endif %}
        {% endblock %}
        

      </div>
      <div class="col-lg-8 col-lg-offset-1" id="section">
        <div class="row">
          {% block section %}

          {% endblock %}
        </div>
        <div class="row">
          {% block section2 %}

          {% endblock %}
        </div>
      </div>
    </div>

    <div class="col-lg-12" id="footer">
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Bangs-services, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
          &middot; <a href="#">Mentions Légales</a> &middot; <a href="#">Règlements intérieurs</a>
        </p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{asset('bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('bundles/page/ckeditor/ckeditor.js')}}"></script>

    <script type="text/javascript">
      $(document).ready(function(){

        $('#balltrap').removeClass('active');
        $('#paintball').removeClass('active');

        // Initialisation des variables pour la taille de la fenêtre
            var navWidth, navHeight;
            if (self.innerWidth != undefined)
            {
                navWidth = self.innerWidth;
                navHeight = self.innerHeight;
                //alert(navHeight);
                //alert(navWidth);
            }
            else 
            {
                navWidth = document.documentElement.clientWidth;
                navHeight = document.documentElement.clientHeight;
                //alert(navHeight);
                //alert(navWidth);
            };

        $('#gestion_activites').css({
              height : navHeight
            });
      });
    </script>
  </body>
</html>
