{% for menu in menus %}
    {% if menu.pages is defined %}
      {% if menu.pages is not empty %}
      	{% for page in menu.pages %}
          {% if page.nom == 'Accueil' %}
      		  <li class="active"> 
              <a href="{{ path('domaine_voir_page', {'nom' : page.nom, 'idpage' : page.id }) }} " >  
                {{ page.nom|upper }} 
              </a>
            </li>
          {% else %}
            {% if page.sousmenus is not empty %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >{{ page.nom|upper }} <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                  {% for sousmenu in page.sousmenus %}
                    <li> <a href="{{path('domaine_voir_sous_menu', {'nom' : sousmenu.nom, 'idsousmenu' : sousmenu.id })}} ">{{ sousmenu.nom }} </a></li>
                  {% endfor %}
                </ul>
              </li>
        		{% else %}
              <li>
                <a href="{{ path('domaine_voir_page',{'nom' : page.nom, 'idpage' : page.id }) }}"> 	
                  {{ page.nom|upper }} 
                </a>
              </li>
            {% endif %}
          {% endif %}
            
      	{% endfor %}
      {% endif %}
    {% endif %}
{% endfor %}