{% extends "::layout_admin.html.twig" %}

{% block section %}
<h1>Gestion des services :</h1>
<hr>
<div class="col-md-12">
    <div class="col-md-12">
        <a href="{{path('service_admin_ajouter_un_service')}} "><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
    </div>
  	
  	<hr>
    <div class="col-lg-12 alert alert-success" >
        {% if services is defined %}
        {% if services is not empty %}
            <div class="col-lg-12">
                <div class="col-md-3">Nom</div>
                <div class="col-md-1">Publié ?</div>
                <div class="col-md-1">Détails</div>
                <div class="col-md-1">Modifier</div>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTIONNAIRE') %}
                <div class="col-md-1">Supprimer</div>
                {% endif %}
            </div>
            
          {% for service in services %}
                {% if service is not empty %}
                <div class="col-lg-12">
                    <hr>
                {% if service is defined  %}
     
                        <div class="col-md-3">{{ service.nom }}</div>
                        <div class="col-md-1">
                            {% if service.publier == true %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </div>
                        
                        <div class="col-md-1">
                            <a href="{{path('service_admin_voir_un_service', {'idservice' : service.id })}} ">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </div>

                        <div class="col-md-1">
                            <a href="{{path('service_admin_modifier_un_service', {'idservice' : service.id })}} ">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </div>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTIONNAIRE') %}
                        <div class="col-md-1">
                            <a href="#" data-toggle="modal" data-target="#suppressionModal{{ service.id }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                        {% endif %}
                 
                    {% endif %}
                </div>

                <!-- Modal pour la suppression d'un service -->
                <div class="modal fade" id="suppressionModal{{ service.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="myModalLabel" style="text-align:center">Suppression du service</h3>
                      </div>
                      <div class="modal-body">
                            <p>Voulez-vous supprimer ce service ? {{ service.nom }}</p>
                            
                            <a href="{{path('service_admin_supprimer_un_service', {'idservice' : service.id })}} " style="color : white" class="btn btn-danger">OUI</a>
                            
                            
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
                       </div>
                    </div>
                  </div>
                </div>
                {% endif %}    
            {% endfor %}
        {% endif %}
        {% endif %}
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{asset('bootstrap/js/bootstrap.min.js')}} "></script>

    <script type="text/javascript">
      $(document).ready(function(){

        $('#accueil').addClass('en_cour');
        $('#paintball').removeClass('active');
        $('#espaceloisirs').removeClass('active');
        $('#paddockotels').removeClass('active');
       
      });
    </script>
{% endblock %}