{% extends "::layout_admin.html.twig" %}

{% block section %}
    <h1>Gestion des services </h1>
   
    <hr>
    
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-6">
                <a href="{{path('service_admin_homepage')}} "><span class="glyphicon glyphicon-arrow-left"> RETOUR</span></a>
            </div>

            <hr>
        </div>

        <div class="col-md-12">
            <div class="col-md-12">
                {% if service.nom is not empty %}
                    <p><strong>Nom : </strong>{{ service.nom }} </p>
                {% endif %}

                
                {% if service.publier == true %}
                    <p><strong>Publier ? :</strong> Oui </p>
                {% else %}
                    <p><strong>Publier ? :</strong> Non </p>
                {% endif %}

                <p><strong>Contenu :</strong> <br>
                   

                    {% if service.contenu is not empty %}
                        {{ service.contenu|raw }}
                    {% endif %}
                </p>
            </div>        
        </div>
        <hr>
        <div class="col-md-12">
            <p>
                <a href="{{path('service_admin_modifier_un_service', {'idservice' : service.id})}} " class="btn btn-success">Modifier</a>
            </p>
        </div>

    </div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{asset('bootstrap/js/bootstrap.min.js')}} "></script>

    <script type="text/javascript">
      $(document).ready(function(){

        $('#accueil').addClass('en_cour');
        $('#paintball').removeClass('active');
        $('#espaceloisirs').removeClass('active');
        $('#paddockotels').removeClass('active');
       
      });
    </script>
{% endblock %}