{% extends "::layout_admin.html.twig" %}

{% block section %}
<h1>Gestion des pages du site </h1> <hr> <hr>
<div id="menu_balltrap" class="col-md-12">
	<div class="col-lg-12">
        {% if pages is defined %}
        {% if pages is not empty %}
		{% for page in pages %}
            {{ page.nom }}
        {% endfor %}
        {% endif %}
        {% endif %}
	</div>

    {% if sousmenus is defined %}
    {% if sousmenus is not empty %}

        {% for sous_menu in sousmenus %}
            <div class="col-md-2">
                <a href="#"><strong> {{ sous_menu.nom }} </strong></a>
            </div>
        {% endfor %}
    
    {% endif %}
    {% endif %}

	<a href="# " class="btn btn-primary">
        Ajouter un sous-menu 
    <a>
    <!--
	<div class="col-md-2">
		<a href="#" >Evénements</a>
	</div>
	<div class="col-md-2">
		<a href="#" >Club House</a>
	</div> -->
</div>

<div class="col-md-12">
    <hr><hr>
    <h2 style="color : black">Photos de la page d'accueil : </h2>
    {% if page is not empty %}

        {% if photos_bandeau is empty %}
            <a href="{{path('domaine_admin_ajouter_bandeau_activite', {'idActivite' : page.id } )}} " class='btn btn-primary'>Ajouter photo</a>
            <a href="{{path('domaine_admin_ajouter_bandeau_activite', {'idActivite' : page.id } )}} " class='btn btn-primary'>Ajouter photo</a>
            <a href="{{path('domaine_admin_ajouter_bandeau_activite', {'idActivite' : page.id } )}} " class='btn btn-primary'>Ajouter photo</a>
            <a href="{{path('domaine_admin_ajouter_bandeau_activite', {'idActivite' : page.id } )}} " class='btn btn-primary'>Ajouter photo</a>
        {% endif %}

        {% if photos_bandeau|length == 1 %}
            <a href="{{path('domaine_admin_ajouter_bandeau_activite', {'idActivite' : page.id } )}} " class='btn btn-primary'>Ajouter photo</a>
            <a href="{{path('domaine_admin_ajouter_bandeau_activite', {'idActivite' : page.id } )}} " class='btn btn-primary'>Ajouter photo</a>
            <a href="{{path('domaine_admin_ajouter_bandeau_activite', {'idActivite' : page.id } )}} " class='btn btn-primary'>Ajouter photo</a>
        {% endif %}

        {% if photos_bandeau|length == 2 %}
            <a href="{{path('domaine_admin_ajouter_bandeau_activite', {'idActivite' : page.id } )}} " class='btn btn-primary'>Ajouter photo</a>
            <a href="{{path('domaine_admin_ajouter_bandeau_activite', {'idActivite' : page.id } )}} " class='btn btn-primary'>Ajouter photo</a>
        {% endif %}

        {% if photos_bandeau|length == 3 %}
            <a href="{{path('domaine_admin_ajouter_bandeau_activite', {'idActivite' : page.id } )}} " class='btn btn-primary'>Ajouter photo</a>
        {% endif %}

        <hr><hr>

        {% for i in page.photos %}
            {% if i.numero == 1 and i.onglet == 0 %}
                <div class="col-lg-12">
                    <img class="col-lg-10" src="{{asset(i.webPath)}} ">
                    <a href="{{path('domaine_admin_modifier_bandeau_activite', {'idActivite' : page.id , 'idPhoto' : i.id })}} " class="btn btn-success">Modifier</a>
                    <a href="{{path('domaine_admin_supprimer_bandeau_activite', {'idActivite' : page.id , 'idPhoto' : i.id })}} " class="btn btn-danger">Supprimer</a>
                </div>
            {% endif %}
        {% endfor %}
            <hr><hr>

    {% endif %}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{asset('bootstrap/js/bootstrap.min.js')}} "></script>

    <script type="text/javascript">
      $(document).ready(function(){

        $('#accueil').addClass('en_cour');
        $('#paintball').removeClass('active');
        $('#espaceloisirs').removeClass('active');
        $('#paddockotels').removeClass('active');
       
      });
    </script>
{% endblock %}