{% extends "::layout_admin.html.twig" %}

{% block section %}
    <h1>Gestion des pages du site </h1>

    <div class="col-lg-6">
        <a href="{{path('Page_admin_homepage')}} "><span class="glyphicon glyphicon-arrow-left"> RETOUR</span></a>
    </div>

    <hr>
    <div class="col-md-12">
        
        <div class="row">
            <div><h4>Page : <strong><em> {{ page.nom }} </em></strong></h4> <br>
                <h5>Etat : 
                    {% if page.etat == true %}
                        Publié
                    {% else %}
                        Non Publié
                    {% endif %}
                </h5>
            </div>
        </div>

        <div class="row-fluid"> 
            {% if photo_couverture|length < 4 %}
            <div class="col-md-3">
                <a href="{{path('Page_admin_ajouter_image_couverture_page', {'idpage' : page.id })}} "><span class="glyphicon glyphicon-plus"></span> Photos couverture</a>
            </div>
            {% endif %}
            {% if photo_carousel|length < 4 %}
            <div class="col-md-3">
                <a href="{{path('Page_admin_ajouter_image_carousel_page', {'idpage' : page.id })}} "><span class="glyphicon glyphicon-plus"></span> Ajouter Photo slider</a>
            </div>
            {% endif %}
            <div class="col-md-3">
                <a href="{{path('Page_admin_ajouter_sous_menu_page', {'idpage' : page.id })}} "><span class="glyphicon glyphicon-plus"></span> Ajouter sous-menu</a>
            </div>
            <div class="col-md-3">
                <a href="{{path('Page_admin_ajouter_section_page',{'idpage' : page.id })}} "><span class="glyphicon glyphicon-plus"></span> Ajouter section</a>
            </div>
        </div>

        <div class="col-md-12">
            <hr>
            {% if photo_couverture is not empty %}
            <h4 class="col-md-3">Photos de couverture: </h4>
                {% for photo in photo_couverture %}
                    <div class="col-md-2">
                        <a data-target="#Photo_couvertureModal" data-toggle="modal" href="#">
                            <img class="col-md-12" src="{{asset(photo.webPath)}} " >
                        </a>
                    <!--
                        <a href="{{path('Page_admin_modifier_image_carousel_page', {'idphoto': photo.id, 'idpage' : page.id })}} " class="btn-success"> Modifier </a> 

                        <a href="{{path('Page_admin_supprimer_image_carousel_page', {'idphoto': photo.id, 'idpage' : page.id })}} " class="btn-danger"> Supprimer </a>
                    -->
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Photo_couvertureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close btn btn-default" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Photo de couverture</h4>
                          </div>
                          <div class="modal-body">
                             <img class="col-lg-12" src="{{asset(photo.webPath)}} ">
                          </div>

                          <div class="modal-footer">
                            <hr>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <a href="{{path('Page_admin_modifier_image_couverture_page', {'idphoto': photo.id, 'idpage' : page.id })}} " class="btn btn-success"> 
                                Modifier 
                            </a>

                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTIONNAIRE') %}
                            <a href="{{path('Page_admin_supprimer_image_couverture_page', {'idphoto': photo.id, 'idpage' : page.id })}} " class="btn btn-danger"> 
                                Supprimer 
                            </a>
                            {% endif %}
                          </div>

                        </div>
                      </div>
                    </div>

                {% endfor %}
            {% endif %}
        </div>

        
        <div class="col-lg-12">
            <hr>

            {% if sousmenus is defined %}
            {% if sousmenus is not empty %}
                <h4>Sous-menu : </h4>
                {% for sousmenu in sousmenus %}
                    <div class="col-lg-2">
                       <a href="{{path('Page_admin_voir_sous_menu_page', {'idsousmenu' : sousmenu.id })}} ">
                            <strong>{{ sousmenu.nom|upper }}</strong>
                        </a> 
                    </div>
                        
                {% endfor %}
            {% endif %}
            {% endif %}

        </div>

        <br>
        <div class="col-md-12">
        <hr>
            {% if photo_carousel is not empty %}
            <h4 class="col-md-3">Photos slider : </h4>
                {% for photo in photo_carousel %}
                    <div class="col-md-2">
                        <a data-target="#Photo_sliderModal" data-toggle="modal" href="#">
                            <img class="col-md-12" src="{{asset(photo.webPath)}} " >
                        </a>
                    <!--
                        <a href="{{path('Page_admin_modifier_image_couverture_page', {'idphoto': photo.id, 'idpage' : page.id })}} " class="btn-success"> Modifier</a> 

                        <a href="{{path('Page_admin_supprimer_image_couverture_page', {'idphoto': photo.id, 'idpage' : page.id })}} " class="btn-danger"> Supprimer</a>
                    -->
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Photo_sliderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close btn btn-default" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Photo du Slider</h4>
                          </div>

                          <div class="modal-body">
                             <img class="col-lg-12" src="{{asset(photo.webPath)}} ">
                          </div>

                          <div class="modal-footer">
                            <hr>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <a href="{{path('Page_admin_modifier_image_carousel_page', {'idphoto': photo.id, 'idpage' : page.id })}} " class="btn btn-success"> Modifier </a>

                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTIONNAIRE') %}
                            <a href="{{path('Page_admin_supprimer_image_carousel_page', {'idphoto': photo.id, 'idpage' : page.id })}} " class="btn btn-danger"> Supprimer </a>
                            {% endif %}
                          </div>

                        </div>
                      </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-12" style="background-color : white">
            <hr>
            <p><strong>Contenu :</strong> <br>
                {{ page.contenu|raw }}
            </p>
            <p>
                <a href="{{path('Page_admin_modifier_une_page',{'idpage' : page.id })}} " class="btn btn-success">Modifier</a>
            </p>
        </div>
    </div>

    <div class="col-lg-12">
        <h4>Les différentes sections du site : </h4>
        {% if sections is defined %}
        {% if sections is not empty %}
            {% for section in sections %}
            <div class="col-lg-4">
                <div>
                    <div class="col-md-8">{{ section.nom }} </div>
                    <a class="col-md-2" href="{{path('Page_admin_modifier_section_page', {'idsection' : section.id })}} ">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>

                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTIONNAIRE') %}
                        <a class="col-md-2" href="{{path('Page_admin_supprimer_section_page', {'idsection': section.id })}} "> 
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        {% endif %}
                </div>
                {% if section.categories is not empty %}
                         {% for categorie in section.categories %}
                            <div class="row-fluid">
                            <hr>
                                <li> {{ categorie.nom }}
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTIONNAIRE') %}
                                    
                                    <a href="{{path('Page_admin_supprimer_categories_section_page', {'idsection' : section.id, 'categorie' : categorie.id })}} "> 
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                    {% endif %}
                                </li>
                            
                            </div>
                        {% endfor %}
                        {% endif %}
            </div>
            {% endfor %}
        {% endif %}

        {% endif %}
    </div>

	



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{asset('bootstrap/js/bootstrap.min.js')}} "></script>

    <script type="text/javascript">
      $(document).ready(function(){

        $('#accueil').addClass('en_cour');
        $('#paintball').removeClass('active');
        $('#espaceloisirs').removeClass('active');
        $('#paddockotels').removeClass('active');
       
        $('img').mouseover(function(){
            $( this ).addClass('img-thumbnail');
        });

        $('img').mouseout(function(){
            $( this ).removeClass('img-thumbnail');
        });

      });
    </script>
{% endblock %}