{% extends "::layout_admin.html.twig" %}

{% block section %}
    <h1>Gestion des pages du site </h1>
    <hr>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2"><h4>Page : <em> {{ page.nom }} </em></h4> <br>
                <h5>Etat : 
                    {% if page.etat == true %}
                        Publié
                    {% else %}
                        Non Publié
                    {% endif %}
                </h5>
            </div>

            {% if photo_couverture|length < 4 %}
            <div class="col-md-2">
                <a href="{{path('Page_admin_ajouter_image_couverture_page', {'idpage' : page.id })}} "><span class="glyphicon glyphicon-plus"></span> Photos couverture</a>
            </div>
            {% endif %}
            {% if photo_carousel|length < 4 %}
            <div class="col-md-2">
                <a href="{{path('Page_admin_ajouter_image_carousel_page', {'idpage' : page.id })}} "><span class="glyphicon glyphicon-plus"></span> Ajouter slider</a>
            </div>
            {% endif %}
            <div class="col-md-2">
                <a href="{{path('Page_admin_ajouter_sous_menu_page', {'idpage' : page.id })}} "><span class="glyphicon glyphicon-plus"></span> Ajouter sous-menu</a>
            </div>
            <div class="col-md-2">
                <a href="{{path('Page_admin_ajouter_section_page',{'idpage' : page.id })}} "><span class="glyphicon glyphicon-plus"></span> Ajouter section</a>
            </div>
        </div>

        <div class="col-md-12">
        <hr>
            {% if photo_couverture is not empty %}
            <h4>Photos de couverture : </h4>
                {% for photo in photo_couverture %}
                    <div class="col-md-3">
                        <img class="col-lg-12" src="{{asset(photo.webPath)}} ">
                        <a href="{{path('Page_admin_modifier_image_carousel_page', {'idphoto': photo.id, 'idpage' : page.id })}} " class="btn-success"> Modifier </a> 

                        <a href="{{path('Page_admin_supprimer_image_carousel_page', {'idphoto': photo.id, 'idpage' : page.id })}} " class="btn-danger"> Supprimer </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <hr>
        <div class="col-lg-12">
            {% if sousmenus is defined %}
            {% if sousmenus is not empty %}
                <h4>Sous-menu : </h4>
                {% for sousmenu in sousmenus %}
                    <div class="col-lg-2">
                       <a href="{{path('Page_admin_voir_sous_menu_page', {'idsousmenu' : sousmenu.id })}} "><strong>{{ sousmenu.nom|upper }}</strong> </a> 
                    </div>
                        
                {% endfor %}
            {% endif %}
            {% endif %}

        </div>

        <br>
        <div class="col-md-12">
        <hr>
            {% if photo_carousel is not empty %}
            <h4>Photos slider : </h4>
                {% for photo in photo_carousel %}
                    <div class="col-md-6">
                        <img class="col-lg-12" src="{{asset(photo.webPath)}} ">
                        <a href="{{path('Page_admin_modifier_image_couverture_page', {'idphoto': photo.id, 'idpage' : page.id })}} " class="btn-success"> Modifier</a> 

                        <a href="{{path('Page_admin_supprimer_image_couverture_page', {'idphoto': photo.id, 'idpage' : page.id })}} " class="btn-danger"> Supprimer</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-12">
            <p><strong>Contenu :</strong> <br>
                {{ page.contenu|raw }}
            </p>
            <p>
                <a href="{{path('Page_admin_modifier_une_page',{'idpage' : page.id })}} " class="btn btn-success">Modifier</a>
            </p>
        </div>
    </div>

    <div class="col-lg-12">
        
        {% if sections is defined %}
        {% if sections is not empty %}
        
        <table class="table responsive">
            <thead>
                <th>Nom</th>
                <th>Catégories contenu</th>
                <th>Position</th>
            </thead>
            <tbody>
                {% for section in sections %}
                <tr> 
                    <td><strong class="col-md-2">{{ section.nom }} </strong>
                        <a class="col-md-2" href="{{path('Page_admin_modifier_section_page', {'idsection' : section.id })}} ">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a class="col-md-2" href="{{path('Page_admin_supprimer_section_page', {'idsection': section.id })}} "> 
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                    <td>
                        {% if section.categories is not empty %}
                            <ul>
                            {% for categorie in section.categories %}
                                <li> {{ categorie.nom }} 
                                    <a href="{{path('Page_admin_supprimer_categories_section_page', {'idsection' : section.id, 'categorie' : categorie.id })}} "> 
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    <td>
                        {% if section.numero == 0 %}
                            A droite
                        {% endif %}
                        {% if section.numero == 1 %}
                            Au milieu
                        {% endif %}
                        {% if section.numero == 2 %}
                            A gauche
                        {% endif %}
                </tr>
                    
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% endif %}
    </div>

	



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{asset('bootstrap/js/bootstrap.min.js')}} "></script>

    <script type="text/javascript">
      $(document).ready(function(){

        $('#accueil').addClass('en_cour');
        $('#paintball').removeClass('active');
        $('#espaceloisirs').removeClass('active');
        $('#paddockotels').removeClass('active');
       
      });
    </script>
{% endblock %}