{% extends "::layout_admin.html.twig" %}

{% form_theme form 'DomaineBundle:Form:fields.html.twig' %}


{% block section %}
<h1>Modifier le contenu de type : <em>{{ contenu.categorie.nom }} </em></h1>
<h2>
	 {% if contenu.titre is not empty %}
        {% if contenu.categorie.nom == "Article" %}
           <strong>Titre : </strong>{{ contenu.titre }} 
        {% endif %}
        {% if contenu.categorie.nom == "Evenement" %}
           <strong>Intitulé de l'événement : </strong>{{ contenu.titre }} 
        {% endif %}
        {% if contenu.categorie.nom == "Service" %}
           <strong>Prestation : </strong>{{ contenu.titre }} 
        {% endif %}
    {% endif %}
</h2>
<div class="well">
  <form action="#" method="post" {{ form_enctype(form) }}>
  	<table class="table responsive">
  		<tbody>
  			{{ form(form) }}
  		</tbody>
  	</table>
   
    <input type="submit" class="btn btn-success" />
  </form>
</div>
{% endblock %}
