{% extends "::layout_admin.html.twig" %}

{% block section %}
<h1>Gestion d'autres contenus <em>Articles - Produits - Services ...</em> </h1>
<hr>
<div id="menu_balltrap" class="col-md-12">
    <div class="col-md-12">
        <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
    </div>
  	
  	<hr>
	<div class="col-lg-12">
        {% if contenus is defined %}
        {% if contenus is not empty %}
        <table class="table responsive alert alert-success">
            <thead>
                <th>Nom</th>
                <th>Publié ?</th>
                <th>Categorie</th>
                <th>Auteur</th>
                <th>Date de création</th>
                <th>Détails</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </thead>
            <tbody>
        		{% for contenu in contenus %}
        		{% if contenu is defined and contenu.nompartenaire is empty %}
                <tr> 
                    <td>{{ contenu.titre }}</td>
                    <td>
                        {% if contenu.publier == true %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                    <td>{{ contenu.categorie.nom }} </td>
                    <td>{{ contenu.auteur }} </td>
                    <td>{{ contenu.dateCreation|date('d/m/y') }} </td>
                    <td><a href="{{path('article_admin_voir_un_contenu', {'idcontenu' : contenu.id })}} "><span class="glyphicon glyphicon-eye-open"></span></a></td>

                    <td><a href="{{path('article_admin_modifier_un_contenu', {'idcontenu' : contenu.id,'idcategorie' : contenu.categorie.id })}} "><span class="glyphicon glyphicon-pencil"></span></a></td>

                    <td><a href="{{path('article_admin_supprimer_un_contenu', {'idcontenu' : contenu.id })}} "><span class="glyphicon glyphicon-remove"></span></a></td>
                </tr>
                {% endif %}
                    
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% endif %}
	</div>


	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h3 class="modal-title" id="myModalLabel" style="text-align:center">Choisir le type de contenu</h3>
	      </div>
	      <div class="modal-body">
	        	<form method="post" action="{{path('article_admin_choix_categorie')}} " class="alert alert-success" role="alert">
	        		<table class="responsive">
	        			{% if categories is defined %}
	        			{% if categories is not empty %}
	        			{% for categorie in categories %}
	        				<tr>
	        					<td>
	        						<label for="{{ categorie.nom }} ">{{ categorie.nom|upper }}</label>
	        					</td>
	        					<td>
	        						<input type="radio" name="categorie"  value={{ categorie.id }}>
	        					</td>
	        				</tr>
	        			{% endfor %}
	        			{% else %}
	        				Aucune categorie existante
	        			{% endif %}
	        			{% endif %}
	        			<tr><td></td></tr>
	        			<hr>
	        			<tr><td><input type="submit" value="valider" class="btn btn-primary"></td></tr>
	        		</table>
	        	</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	       </div>
	    </div>
	  </div>
	</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{asset('bootstrap/js/bootstrap.min.js')}} "></script>

    <script type="text/javascript">
      $(document).ready(function(){

        $('#accueil').addClass('en_cour');
        $('#paintball').removeClass('active');
        $('#espaceloisirs').removeClass('active');
        $('#paddockotels').removeClass('active');
       
      });
    </script>
{% endblock %}