{% extends "::layout_admin.html.twig" %}

{% block section %}
<h1>Gestion des paramètres du site :</h1>
<hr>

    <div class="col-md-12">
        <h3>Contacts : </h3>
        <a class="col-md-3" href="{{path('article_admin_parametre_ajouter_contact_contenu')}} "><span class="glyphicon glyphicon-plus"></span> Nouveau Contact</a>

        <a class="col-md-3" href=""><span class="glyphicon glyphicon-plus"></span> Nouvelle adresse</a>
        <br>
        <hr>
        {% for contenu in contenus %}
            {% if contenu.telephone is not empty %}
                <strong>Contact Téléphonique : {{ contenu.telephone }} </strong>
            {% else %}
                
            {% endif %}
            {% if contenu.email_contact is defined %}
                <strong>Contact Email : {{ contenu.email_contact }} </strong>
             {% else %}
                   
            {% endif %}
        {% endfor %}
    
    </div>
   
    <div class="col-md-12">
        <hr>
        <h3>Réseaux sociaux : </h3>
        <a class="col-md-3" href="{{path('article_admin_parametre_ajouter_reseaux_sociaux_contenu')}} "><span class="glyphicon glyphicon-plus"></span> Insérer un réseau social</a>
        <br>
        {% for contenu in contenus %}
            {% if contenu.lien is not empty %}
                {{ contenu.lien }}
            {% endif %}
        {% endfor %}
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{asset('bootstrap/js/bootstrap.min.js')}} "></script>

    <script type="text/javascript">
      $(document).ready(function(){

        $('#accueil').addClass('en_cour');
        $('#paintball').removeClass('active');
        $('#espaceloisirs').removeClass('active');
        $('#paddockotels').removeClass('active');
       
      });
    </script>
{% endblock %}