{% extends "::layout_admin.html.twig" %}

{% block section %}
<h1>Gestion des catégories </h1>
<hr>
<div class="col-md-12">
    <div class="col-md-12">
        <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
    </div>
  	
  	<hr>
	<div class="col-lg-12 alert alert-success">
        {% if categories is defined %}
        {% if categories is not empty %}
        <div class="col-lg-12">
          <div class="col-md-5">Nom</div>
          <div class="col-md-2">Modifier</div>
          <div class="col-md-2">Supprimer</div>
        </div>

        		{% for categorie in categories %}
                <div class="col-md-12">
                  <hr>
                    <div class="col-md-5">{{ categorie.nom }}</div>

                    <div class="col-md-2"><a href="#" data-toggle="modal" data-target="#modifier{{ categorie.id }}"><span class="glyphicon glyphicon-pencil"></span></a></div>

                    <div class="col-md-2"><a href="#"data-toggle="modal" data-target="#suppressionModal{{ categorie.id }}"><span class="glyphicon glyphicon-remove"></span></a></div>
                </div>
                
                <!-- Modifier categorie modal -->
                <div class="modal fade" id="modifier{{ categorie.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="myModalLabel" style="text-align:center">Créer une catégorie : </h3>
                      </div>
                      <div class="modal-body">
                            {{ render(controller('ArticleBundle:Admin:modifier_une_categorie', {'idCategorie' : categorie.id })) }}   
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                       </div>
                    </div>
                  </div>
                </div>
                
                <!-- Modal pour la suppression d'une categorie -->
                <div class="modal fade" id="suppressionModal{{ categorie.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="myModalLabel" style="text-align:center">Suppression de la categorie</h3>
                      </div>
                      <div class="modal-body">
                            <p>Voulez-vous supprimer cette categorie ? {{ categorie.nom }}</p>
                            
                            <a href="{{path('article_admin_supprimer_une_categorie',{'idCategorie' : categorie.id })}} " style="color : white" class="btn btn-danger">OUI</a>
                            
                            
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
                       </div>
                    </div>
                  </div>
                </div> 

                {% endfor %}
            
        
        {% endif %}
        {% endif %}
	</div>


	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h3 class="modal-title" id="myModalLabel" style="text-align:center">Créer une catégorie : </h3>
	      </div>
	      <div class="modal-body">
          {{ render(controller('ArticleBundle:Admin:ajouter_une_categorie')) }}   
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	       </div>
	    </div>
	  </div>
	</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{asset('bootstrap/js/bootstrap.min.js')}} "></script>

    <script type="text/javascript">
      $(document).ready(function(){

        $('#accueil').addClass('en_cour');
        $('#paintball').removeClass('active');
        $('#espaceloisirs').removeClass('active');
        $('#paddockotels').removeClass('active');
       
      });
    </script>
{% endblock %}