{% extends "::layout_admin.html.twig" %}

{% block section %}
    <h1>Gestion d'autres contenus <em>Articles - Produits - Services ...</em> </h1>
    <hr>
    <h4>Catgorie : <em> {{ contenu.categorie.nom }} </em></h4>
    <div class="col-md-12">
        <div class="row">
            {% if contenu.photos is empty %}
            <div class="col-md-2">
                <a href="{{path('article_admin_ajouter_photo_contenu', {'idcontenu' : contenu.id })}} "><span class="glyphicon glyphicon-plus"></span> Ajouter photo</a>
            </div>
            {% endif %}
            <hr>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                {% if contenu.titre is not empty %}
                    {% if contenu.categorie.nom == "Article" %}
                        <p><strong>Titre : </strong>{{ contenu.titre }} </p>
                    {% endif %}
                    {% if contenu.categorie.nom == "Evenement" %}
                        <p><strong>Intitulé de l'événement : </strong>{{ contenu.titre }} </p>
                    {% endif %}
                    {% if contenu.categorie.nom == "Service" %}
                        <p><strong>Prestation : </strong>{{ contenu.titre }} </p>
                    {% endif %}
                {% endif %}

                {% if contenu.dateCreation is not empty %}
                    <p><strong>Date de création : </strong>{{ contenu.dateCreation|date('d/m/y') }}</p>
                {% endif %}

                {% if contenu.dateDebut is not empty %}
                    <p><strong>Date de début : </strong>{{ contenu.dateDebut|date('d/m/y') }}</p>
                {% endif %}

                {% if contenu.dateFin is not empty %}
                    <p><strong>Date de fin : </strong>{{ contenu.dateFin|date('d/m/y') }}</p>
                {% endif %}

                {% if contenu.prix is not empty %}
                    <p><strong>Prix : </strong>{{ contenu.prix }} € </p>
                {% endif %}
            
                {% if contenu.photos is not empty %}
                    {% for photo in contenu.photos %}
                        <div class="col-md-5">
                            <a href="{{path('article_admin_modifier_photo_contenu', {'idphoto' : photo.id, 'contenu' : contenu.id })}} " class="btn-success"> Modifier photo</a> 

                            <a href="#" class="btn-danger"> Supprimer photo</a>
                            <img class="col-lg-12" src="{{asset(photo.webPath)}} ">
                            
                        </div>
                    {% endfor %}
                {% endif %}
                <p><strong>Contenu :</strong> <br>
                    {% if contenu.contenu is not empty %}
                        {{ contenu.contenu|raw }}
                    {% endif %}

                    {% if contenu.description is not empty %}
                        {{ contenu.description|raw }}
                    {% endif %}
                </p>
            </div>
                
        </div>
        <hr>
        <div class="col-md-12">
            <p>
                <a href="{{path('article_admin_modifier_un_contenu', {'idcontenu' : contenu.id,'idcategorie' : contenu.categorie.id })}} " class="btn btn-success">Modifier</a>
            </p>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{asset('bootstrap/js/bootstrap.min.js')}} "></script>

    <script type="text/javascript">
      $(document).ready(function(){

        $('#accueil').addClass('en_cour');
        $('#paintball').removeClass('active');
        $('#espaceloisirs').removeClass('active');
        $('#paddockotels').removeClass('active');
       
      });
    </script>
{% endblock %}